---
interface Props {
  name?: string;
  species?: string;
  background?: string;
  characterClass?: string;
  subclass?: string;
  level?: number;
}

const {
  name = "",
  species = "",
  background = "",
  characterClass = "",
  subclass = "",
  level = 1,
} = Astro.props;

import BlockCard from '../../ui/BlockCard.astro'
import MaterialIcon from "../../ui/MaterialIcon.astro";
---

<BlockCard>
  <Fragment slot="title">
    <MaterialIcon icon="badge" />
    Basic Details
  </Fragment>

  <div slot="content" class="space-y-2.5 px-4 py-3">
    <div>
      <p class="text-sm text-gray-500 mb-0.5">Character Name</p>
      <p class="text-lg font-medium">{name}</p>
    </div>

    <div>
      <p class="text-sm text-gray-500 mb-0.5">Class</p>
      <p class="text-lg font-medium">{characterClass} (Lv. {level})</p>
    </div>

    <div>
      <p class="text-sm text-gray-500 mb-0.5">Subclass</p>
      <p class="text-lg font-medium">{subclass}</p>
    </div>

    <div>
      <p class="text-sm text-gray-500 mb-0.5">Species</p>
      <p class="text-lg font-medium">{species}</p>
    </div>

    <div>
      <p class="text-sm text-gray-500 mb-0.5">Background</p>
      <p class="text-lg font-medium">{background}</p>
    </div>
  </div>
</BlockCard>
